<div class="stepsdemo-content">
  <div class="container-white-box flex flex-col gap-25 my-40">
    <div class="header">
      <h5>اختر نوع الحساب الذى تريد إنشاءة</h5>
    </div>
    <div class="body">
      <ul class="list-unstyled flex jc-sb">
        <li>
          <div class="box">
            <div class="img">
              <img src="assets/images/icons/user.svg" alt="">
            </div>
            <span>خاص</span>
          </div>
        </li>
        <li>
          <div class="box">
            <div class="img">
              <img src="assets/images/icons/governorate.svg" alt="">
            </div>
            <span>حكومى</span>
          </div>
        </li>
        <li>
          <div class="box">
            <div class="img">
              <img src="assets/images/icons/building.svg" alt="">
            </div>
            <span>نقابات</span>
          </div>
        </li>
        <li>
          <div class="box">
            <div class="img">
              <img src="assets/images/icons/users.svg" alt="">
            </div>
            <span>جمعيات</span>
          </div>
        </li>
        <li>
          <div class="box">
            <div class="img">
              <img src="assets/images/icons/trainer.svg" alt="">
            </div>
            <span>مدرب</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="center-flex mb-3">
    <p-button class="next-stepper" label="التالى" (onClick)="nextPage()" icon="pi pi-angle-left" iconPos="right"></p-button>
  </div>
</div>