<div class="stepsdemo-content">
  <div class="container-white-box flex flex-col gap-25 my-40">
    <div class="header flex jc-sb ai-c">
      <h5>نوع الحساب الذى تريد إنشاءة</h5>
      <button class="transparent-button flex ai-c gap-5">
        <span>تعديل</span>
        <div class="img">
          <img src="assets/images/icons/edit.svg" alt="">
        </div>
      </button>
    </div>
    <div class="body">
      <ul class="list-unstyled flex jc-sb">
        <li>
          <div class="box">
            <div class="img">
              <img src="assets/images/icons/user.svg" alt="">
            </div>
            <span>خاص</span>
          </div>
        </li>
        <li>
          <div class="box">
            <div class="img">
              <img src="assets/images/icons/governorate.svg" alt="">
            </div>
            <span>حكومى</span>
          </div>
        </li>
        <li>
          <div class="box">
            <div class="img">
              <img src="assets/images/icons/building.svg" alt="">
            </div>
            <span>نقابات</span>
          </div>
        </li>
        <li>
          <div class="box">
            <div class="img">
              <img src="assets/images/icons/users.svg" alt="">
            </div>
            <span>جمعيات</span>
          </div>
        </li>
        <li>
          <div class="box">
            <div class="img">
              <img src="assets/images/icons/trainer.svg" alt="">
            </div>
            <span>مدرب</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container-white-box flex flex-col gap-25 my-40">
    <div class="header flex jc-sb ai-c">
      <h5>معلومات التواصل حتى يتم التواصل معك حين قبول طلبك</h5>
      <button class="transparent-button flex ai-c gap-5">
        <span>تعديل</span>
        <div class="img">
          <img src="assets/images/icons/edit.svg" alt="">
        </div>
      </button>
    </div>
    <div class="body flex flex-col gap-20">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="companyAddress">عنوان الشركة</label>
            <textarea name="" id="companyAddress" rows="5" class="form-control" placeholder="اكتب عنوان الشركة بالكامل"></textarea>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="name">البريد الالكترونى</label>
                <div class="iconic-form-control">
                  <div class="img">
                    <img src="assets/images/icons/envelope.svg" alt="">
                  </div>
                  <input type="text" id="name" placeholder="hussain@finesse.com">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="name">فاكس</label>
                <div class="iconic-form-control">
                  <div class="img">
                    <img src="assets/images/icons/fax.svg" alt="">
                  </div>
                  <input type="text" id="name" placeholder="654654153">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="name">رقم الهاتف</label>
                <div class="iconic-form-control">
                  <div class="img">
                    <img src="assets/images/icons/black_phone.svg" alt="">
                  </div>
                  <input type="text" id="name" placeholder="01158202283">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="name">رقم التأكيد</label>
                <div class="iconic-form-control">
                  <ul class="list-unstyled flex jc-sb full-width">
                    <li>4</li>
                    <div class="divider"></div>
                    <li>4</li>
                    <div class="divider"></div>
                    <li>8</li>
                    <div class="divider"></div>
                    <li>7</li>
                    <div class="divider"></div>
                    <li>3</li>
                    <div class="divider"></div>
                    <li>5</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <div class="custom-file-upload">
              <label class="mainLabel">
                <span>شعار الشركة</span>
                <img src="assets/images/icons/black_hint.svg" alt="">
              </label>
              <div class="flex ai-c gap-15 full-width">
                <div class="upload-box">
                  <div class="upload center-flex">
                    <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                    <label for="companyContract">اختر الملف</label>
                  </div>
                  <div class="file-info">
                    <span id="file-chosen">File Name.pdf</span>
                    <div class="img">
                      <img src="assets/images/icons/pdf.svg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-white-box flex flex-col gap-25 my-40">
    <div class="header flex jc-sb ai-c">
      <h5>المرفقات المطلوبة</h5>
      <button class="transparent-button flex ai-c gap-5">
        <span>تعديل</span>
        <div class="img">
          <img src="assets/images/icons/edit.svg" alt="">
        </div>
      </button>
    </div>
    <div class="body">
      <div class="files flex jc-sb">
        <div class="part-one full-width">
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="part-two full-width">
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-white-box flex flex-col gap-25 my-40">
    <div class="body flex ai-c jc-sb">
      <div class="form full-width flex flex-col gap-15">
        <div class="header">
          <h5>انشاء اسم المستخدم و كلمة المرور</h5>
        </div>
        <form class="flex gap-30">
          <div class="form-group">
            <label for="name">اسم المستخدم</label>
            <div class="iconic-form-control">
              <div class="img">
                <img src="assets/images/icons/envelope.svg" alt="">
              </div>
              <input type="text" id="name" placeholder="hussain@finesse.com">
            </div>
          </div>
          <div class="form-group">
            <label for="password">كلمة المرور</label>
            <div class="iconic-form-control">
              <div class="img">
                <img src="assets/images/icons/lock.svg" alt="">
              </div>
              <input type="password" id="password" placeholder="******************">
              <button class="transparent-button view-password">
                <img src="assets/images/icons/eye.svg" alt="">
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="img">
        <img src="assets/images/icons/lock.png" alt="">
      </div>
    </div>
  </div>

  <label class="customCheckboxContainer mb-40">
    اقر أن جميع البيانات المرفقة صحيحة
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  
  <div class="center-flex gap-15 mb-3">
    <p-button class="previous-stepper" label="السابق" (onClick)="prevPage()" icon="pi pi-angle-right"></p-button>
    <p-button class="confirmation" label="انشاء حساب جديد" icon="pi pi-check-circle"
      iconPos="right"></p-button>
  </div>
</div>