<div class="stepsdemo-content">
  <div class="container-white-box flex flex-col gap-25 my-40">
    <div class="header flex jc-sb ai-c">
      <div class="instructions flex flex-col gap-5">
        <h5 class="flex gap-10">
          <span>يرجى التاكد من البيانات المرفقة عن طريق الضغط على </span>
          <div class="img">
            <img src="assets/images/icons/black_hint.svg" alt="">
          </div>
        </h5>
        <h5>لمعرفة المزيد عن البيانات المرفقة حتى لا يتم رفض الطلب عند ارسال بيانات غير مكتملة</h5>
      </div>
      <div class="download-attachments">
        <button class="transparent-button download-attach">
          <span>تحميل المرفقات المطلوبة لارسالها</span>
          <div class="img">
            <img src="assets/images/icons/green_download.svg" alt="">
          </div>
        </button>
      </div>
    </div>
    <div class="body">
      <div class="attachments" *ngIf="attachmentsList?.data.length > 0">
        <div class="attachment" *ngFor="let attach of attachmentsList?.data">
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>{{attach.name}}</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input [id]="attach.name" (change)="handleFileInput(attach, $event)" type="file" hidden>
                  <label [for]="attach.name">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span [id]="attach.name + '-chosen'">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status" [id]="attach.name + '-choosed'">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="files flex jc-sb">
        <div class="part-one full-width">
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="part-two full-width">
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="custom-file-upload">
            <label class="mainLabel">
              <span>شعار الشركة</span>
              <img src="assets/images/icons/black_hint.svg" alt="">
            </label>
            <div class="flex ai-c gap-15 full-width">
              <div class="upload-box">
                <div class="upload center-flex">
                  <input id="companyContract" (change)="getFileName($event)" type="file" hidden>
                  <label for="companyContract">اختر الملف</label>
                </div>
                <div class="file-info">
                  <span id="file-chosen">File Name.pdf</span>
                  <div class="img">
                    <img src="assets/images/icons/pdf.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="status">
                <div class="img">
                  <img src="assets/images/icons/green_confirm.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="center-flex gap-15 mb-3">
    <p-button class="previous-stepper" label="السابق" (onClick)="prevPage()" icon="pi pi-angle-right"></p-button>
    <p-button class="next-stepper" label="التالى" (onClick)="nextPage()" icon="pi pi-angle-left"></p-button>
  </div>
</div>