<footer class="footer">
  <div class="footer-container">
    <div class="flex jc-c" style="gap: 75px;">
      <div class="column">
        <h5 class="title">مواقع حكومية</h5>
        <div class="list">
          <ul class="list-unstyled">
            <li>
              <a>
                <span>وزارة الدولة للهجرة وشؤون المصريين بالخارج</span>
              </a>
            </li>
            <li>
              <a>
                <span>وزارة التضامن الاجتماعى</span>
              </a>
            </li>
            <li>
              <a>
                <span>وزارة السياحة</span>
              </a>
            </li>
            <li>
              <a>
                <span>وزارة الطيران المدنى</span>
              </a>
            </li>
            <li>
              <a>
                <span>وزارة التربية و التعليم</span>
              </a>
            </li>
            <li>
              <a>
                <span>وزارة التعليم العالى</span>
              </a>
            </li>
          </ul>
          <div class="divider"></div>
          <ul class="list-unstyled">
            <li>
              <a>
                <span>مجلس الوزراء</span>
              </a>
            </li>
            <li>
              <a>
                <span>وزارة الخارجية</span>
              </a>
            </li>
            <li>
              <a>
                <span>بوابة الحكومة</span>
              </a>
            </li>
            <li>
              <a>
                <span>وزارة الداخلية</span>
              </a>
            </li>
            <li>
              <a>
                <span>التأمينات الاجتماعية</span>
              </a>
            </li>
            <li>
              <a>
                <span>مجلس النواب</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="divider"></div>
      <div class="column">
        <h5 class="title">مواقع التواصل الجتماعى</h5>
        <ul class="list-unstyled">
          <li>
            <a>
              <div class="img">
                <img src="assets/images/icons/original-facebook.svg" alt="">
              </div>
              <span>فيس بوك</span>
            </a>
          </li>
          <li>
            <a>
              <div class="img">
                <img src="assets/images/icons/original-youtube.svg" alt="">
              </div>
              <span>يوتيوب</span>
            </a>
          </li>
          <li>
            <a>
              <div class="img">
                <img src="assets/images/icons/original-twitter.svg" alt="">
              </div>
              <span>تويتر</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="divider"></div>
      <div class="column">
        <h5 class="title">الخط الساخن</h5>
        <h3 class="hotLine">19468</h3>
      </div>
    </div>
  </div>
  <div class="copyright-box">
    <p>جميع الحقوق محفوظة لوزارة القوى العاملة</p>
  </div>
</footer>