<app-layout>
    <div class="page">
      <div class="slider home-slider">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="sliderConfig">
          <div ngxSlickItem class="slide">
            <p class="center-flex">وزير القوى العاملة يشهد توقيع اتفاقية عمل جماعية تحقق مزايا أفضل للعاملين ب "قناة السويس للحاويات"</p>
          </div>
          <div ngxSlickItem class="slide">
            <p class="center-flex">وزير القوى العاملة يشهد توقيع اتفاقية عمل جماعية تحقق مزايا أفضل للعاملين ب "قناة السويس للحاويات"</p>
          </div>
          <div ngxSlickItem class="slide">
            <p class="center-flex">وزير القوى العاملة يشهد توقيع اتفاقية عمل جماعية تحقق مزايا أفضل للعاملين ب "قناة السويس للحاويات"</p>
          </div>
        </ngx-slick-carousel>
      </div>
      <div class="list-items mt-3">
        <div class="row">
          <div class="col-lg-9">
            <div class="flex flex-col ai-c gap-30">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img jobsImg">
                          <img src="assets/images/home/icons/jobs.png" alt="">
                        </div>
                        <h5>النشرة القومية للتشغيل</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>تسجيل بيانات المتقدمين للمنح التدريبية للشباب الخريجين</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/egyptian-data.png" alt="">
                        </div>
                        <h5>منح تدريبية لشباب الخريجين</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>تسجيل بيانات المتقدمين للمنح التدريبية للشباب الخريجين</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/user.png" alt="">
                        </div>
                        <h5>تسجيل راغبى العمل</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>لتسجيل بيانات راغبى العمل بالوظائف المعلن عنها بالداخل</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/outing-jobs.png" alt="">
                        </div>
                        <h5>فرص العمل بالخارج</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>فرص العمل بالخارج</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/search.png" alt="">
                        </div>
                        <h5>تسجيل طلبيات الشركات</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>تسجيل طلبيات الشركات وتراخيص عمل الاجانب</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/user.png" alt="">
                        </div>
                        <h5>فرص عمل بمشروع الضبعة النووية</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>تعلن وزارة القوى العاملة عن فرص عمل بمشروع الضبعة النووى</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/egyptian-data.png" alt="">
                        </div>
                        <h5>تسجبل بيانات العاملين المصريين</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>تسجيل بيانات المصريين العاملين بالخارج</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/complaint-gate.png" alt="">
                        </div>
                        <h5>عناوين مكاتب التشغيل</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>عناوين و بيانات مكاتب التشغيل</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/red-search.png" alt="">
                        </div>
                        <h5>الشركات المحظورة</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>اسماء الشركات المحظور التعامل معها بالداخل و الخارج</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/ministry-stats.png" alt="">
                        </div>
                        <h5>احصائيات الوزارة</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>الاحصائيات الخاصة بالوزارة</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/workers.png" alt="">
                        </div>
                        <h5>حقوق و التزامات العامل</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>ما للعامل من حقوق و التزامات</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/search.png" alt="">
                        </div>
                        <h5>الذين لم يتسلموا عقودهم من الاردن</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>اسماء و اماكن ومواعيد استلام الذين لم يتسلموا عقودهم الاردن</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/complaint-gate.png" alt="">
                        </div>
                        <h5>بوابة الشكاوى الحكومية</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>بوابة الشكاوى الحكومية</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/outing-jobs.png" alt="">
                        </div>
                        <h5>تسجيل المصريين العائدين من الخارج</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>تسجيل المصريين العائدين من الخارج</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/book.png" alt="">
                        </div>
                        <h5>الاصدارات و المطبوعات</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>الاصدارات و المطبوعات</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/complaint-gate.png" alt="">
                        </div>
                        <h5>شركات الحاق العمالة</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>اسماء و عنواين شركات الحاق العمالة</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="box">
                    <div class="header">
                      <div class="title">
                        <div class="img">
                          <img src="assets/images/home/icons/safety.png" alt="">
                        </div>
                        <h5>السلامة والصحة المهنية</h5>
                      </div>
                      <div class="new">
                        <div class="img">
                          <img src="assets/images/home/icons/new.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>اتفاقيات السلامة والصحة المهنية و قؤائم مراجعة والتفتتيش</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="advertisements">
                <div class="item-box">
                  <div class="header">
                    <h4>لمتابعة فرص العمل من خلال SMS</h4>
                  </div>
                  <div class="box-img">
                    <div class="img">
                      <img src="assets/images/home/image1.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="item-box">
                  <div class="header">
                    <h4>الوقاية من فيروس كورونا أضغط هنا</h4>
                  </div>
                  <div class="box-img">
                    <div class="img">
                      <img src="assets/images/home/image2.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="item-box">
                  <div class="header">
                    <h4>استراتيجية التنمية المستدامة رؤية مصر 2030</h4>
                  </div>
                  <div class="box-img">
                    <div class="img">
                      <img src="assets/images/home/image3.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="guide flex flex-col gap-20">
                <h3 class="title">دليل الاجراءات</h3>
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="box">
                      <div class="header">
                        <div class="title">
                          <div class="img">
                            <img src="assets/images/home/icons/complaint-gate.png" alt="">
                          </div>
                          <h5>تشغيل</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="box">
                      <div class="header">
                        <div class="title">
                          <div class="img">
                            <img src="assets/images/home/icons/outing-jobs.png" alt="">
                          </div>
                          <h5>تراخيص عمل الاجانب</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="box">
                      <div class="header">
                        <div class="title">
                          <div class="img">
                            <img src="assets/images/home/icons/user.png" alt="">
                          </div>
                          <h5>التدريب المهنى</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="box">
                      <div class="header">
                        <div class="title">
                          <div class="img">
                            <img src="assets/images/home/icons/egyptian-data.png" alt="">
                          </div>
                          <h5>السلامة و الصحة المهنية</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="box">
                      <div class="header">
                        <div class="title">
                          <div class="img">
                            <img src="assets/images/home/icons/search.png" alt="">
                          </div>
                          <h5>تفتيش العمال</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="flex flex-col gap-30">
              <div class="border-white-box center-flex gap-10">
                <p>الدليل الارشادى للسلامة والصحة المهنية و تامين بيئة العمل</p>
              </div>
              <div class="models-and-requests flex flex-col gap-15">
                <h3>النماذج والطلبات</h3>
                <div class="green-border-box">
                  <p>استمارة حصر العمالة المصرية العائدة من ليبيا 2015</p>
                </div>
                <div class="green-border-box">
                  <p>استمارة حصر العمالة المصرية العائدة من ليبيا 2014</p>
                </div>
                <div class="green-border-box">
                  <p>استمارة حصر العمالة المصرية العائدة من العراق</p>
                </div>
                <div class="green-border-box">
                  <p>استمارة حصر العمالة المصرية العائدة من اليمن 2015</p>
                </div>
                <div class="green-border-box">
                  <p>قصص نجاح</p>
                </div>
                <div class="green-border-box">
                  <p>فيديوهات</p>
                </div>
                <div class="green-border-box">
                  <p>مدونة السلوك الوظيفى</p>
                </div>
                <div class="green-border-box">
                  <p>دليل المسابقات</p>
                </div>
                <div class="green-border-box">
                  <p>الفساد الوقاية والمواجهة</p>
                </div>
                <div class="green-border-box">
                  <p>المراة تمكين و شراكة فى قانون الخدمة المدنية</p>
                </div>
                <div class="green-border-box">
                  <p>خريطة الاستثمار الصناعى</p>
                </div>
                <div class="green-border-box">
                  <p>هيئة فولبرايت</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</app-layout>