<div class="stepsdemo-content">
  <div class="container-white-box flex flex-col gap-25 my-40">
    <div class="body flex ai-c jc-sb">
      <div class="form full-width flex flex-col gap-15">
        <div class="header">
          <h5>انشاء اسم المستخدم و كلمة المرور</h5>
        </div>
        <div class="flex gap-30">
          <div class="form-group">
            <label for="name">اسم المستخدم</label>
            <div class="iconic-form-control">
              <div class="img">
                <img src="assets/images/icons/envelope.svg" alt="">
              </div>
              <input type="text" id="name" placeholder="hussain@finesse.com" [(ngModel)]="createPassword.Email">
            </div>
          </div>
          <div class="form-group">
            <label for="password">كلمة المرور</label>
            <div class="iconic-form-control">
              <div class="img">
                <img src="assets/images/icons/lock.svg" alt="">
              </div>
              <input type="password" id="password" placeholder="******************" [(ngModel)]="createPassword.Password">
              <button class="transparent-button view-password">
                <img src="assets/images/icons/eye.svg" alt="">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="img">
        <img src="assets/images/icons/lock.png" alt="">
      </div>
    </div>
  </div>

  <div class="center-flex gap-15 mb-3">
    <p-button class="previous-stepper" label="السابق" (onClick)="prevPage()" icon="pi pi-angle-right"></p-button>
    <p-button class="next-stepper" label="التالى" (onClick)="nextPage()" icon="pi pi-angle-left"
      iconPos="right"></p-button>
  </div>
</div>